@page
@model CategoryPageModel

@using CustomerSite.Models

@{
    var totalPage = Convert.ToInt32(ViewData["total-page"]);
    var page = Convert.ToInt32(ViewData["page"]);
    var category = ViewData["category"] as CategoryDto;
    var products = ViewData["products"] as List<ProductDto>;
    if (products == null) products = new List<ProductDto>();

    ViewData["Title"] = category?.Name;
}

<div class="container rounded p-3 mb-3" style="background-color: #fff;">
    <h4 class="mb-3">@category?.Name</h4>
</div>

<div class="container rounded p-3 mb-3" style="background-color: #fff;">
    <div id="home_product_cards" class="d-flex gap-3 flex-wrap align-content-start mb-3">
        @foreach (var product in products)
        {
            <vc:product-card product=product></vc:product-card>
        }
    </div>
</div>


@{
    var pagingModel = new PagingViewModel()
    {
        page = page,
        totalPage = totalPage,
        getLink = p => $"Category?id={category?.Id}&p={p}"
    };
}

<vc:paging model=pagingModel></vc:paging>
