@page
@model SearchPageModel

@using CustomerSite.Pages.Shared.Components.Paging
@using CustomerSite.Models

@{
    var query = ViewData["query"];
}

<div class="container rounded p-3 mb-3" style="background-color: #fff;">
    <h4 class="mb-3">Key word "@query"</h4>
</div>

<div class="container rounded p-3 mb-3" style="background-color: #fff;">
    <div id="home_product_cards" class="d-flex gap-3 flex-wrap align-content-start mb-3">
        @foreach (var product in Model.ProductsWithPaging.Items)
        {
            <vc:product-card product=product></vc:product-card>
        }
    </div>
</div>

@{
    var pagingModel = new PagingViewModel()
    {
        page = Model.ProductsWithPaging.Page,
        totalPage = Model.ProductsWithPaging.TotalPage,
        getLink = p => $"/Search?q={query}&p={p}"
    };
}

<vc:paging model=pagingModel></vc:paging>