@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div>
    <div class="card m-auto w-50">
        <div class="card-body">
            <form asp-route="Register">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input class="form-control" placeholder="FirstName" asp-for="FirstName" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input class="form-control" placeholder="LastName" asp-for="LastName" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input class="form-control" placeholder="UserName" asp-for="UserName" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                </div>

                <!-- Submit button -->
                <button class="btn btn-primary btn-block mb-4" name="button" value="register">Sign up</button>
            </form>
        </div>
    </div>
</div>

