@using CustomerSite.Models
@{
    var pages = ViewData["pages"] as List<PageButtonViewModel>;
    if (pages == null) pages = new List<PageButtonViewModel>();

    var isFirstPage = (bool?)ViewData["is-first-page"];
    var isLastPage = (bool?)ViewData["is-last-page"];
}

<ul class="pagination justify-content-center gap-3">
    @* Prev *@
    @if (isFirstPage == false)
    {
        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-caret-left"></i></a></li>
    }

    @foreach (var pageItem in pages)
    {
        <li class="page-item"><a class="page-link @pageItem.activeClass" href="@pageItem.link">@pageItem.text</a></li>
    }

    @* Next *@
    @if (isLastPage == false)
    {
        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-caret-right"></i></a></li>
    }
</ul>
