@page
@model IDS.Pages.Account.Google.Index
@{
    ViewData["Title"] = "Google";
}

<h1>@ViewData["Title"]</h1>

<div>
    <div class="m-auto w-50">
        <partial name="_ValidationSummary" />
    </div>
</div>