@model ProductDto

@using System.Globalization

@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); // try with "en-US"
    var price = Model.Price.ToString("#,###", cul.NumberFormat) + " đ";
}
<div class="card col-1" style="width: 15rem;">
    <div class="text-center pt-1">
        <img src="@Model.Image" class="card-img-top" alt="..."
            style="width: 14rem; height: 14rem; object-fit: contain;">
    </div>
    <div class="card-body">
        <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="card-title fs-6 text-muted">
            @Model.Name
        </div>
        <h5 style="color: #FF424E;">@price</h5>
    </div>
    <a asp-page="Product" asp-route-id="@Model.Id" class="stretched-link"></a>
</div>